h1 {
    font-size: 15rem;
}

.letter{
    transition: color 500ms;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
